<div class="container-fluid" id="footer_wrapper">
    <div class="container" id="footer_container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h4 class="footer_titles">Top posts</h4>
                <ul id="footer_menu">
                    <% for (let p of topPosts) { %>
                        <li><a href="/post/<%= p.id %>"><%= p.title %></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">
                    <h4 class="footer_titles">About us</h4>
                    <p id="footer_about">
                        <%= settings.about %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="designer_info_foot">
        <a href="#" id="footer_developer_info">Designed and developed by : <span id="developer_email"> A.M.A Dev</span></a>
    </div>
</div>