<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A.M.A Dev CMS</title>

    <%- include('../common/style') %>
    <link rel="stylesheet" type="text/css" href="/css/front/topMenu.css">
    <link rel="stylesheet" type="text/css" href="/css/front/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/front/post.css">
</head>
<body>
    <%- include('top_menu') %>
    

    
    <%- include('footer') %>

    <%- include('../common/js') %>

    <script src="/js/front/topMenu.js"></script>
</body>
</html>