<div class="col-12 col-md-6 col-lg-3 container_package_single">
    <article class="package">
        <div class="package_image_container">
            <img src="<%= p.coverUrl %>" alt="">
        </div>
        <h4 class="package_title"><%= p.title %></h4>
        <a href="/package/<%= p.id %>" class="package_more_detail">More information</a>
    </article>
</div>