
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="admin_nav">
    <div class="container">
        <ul class="p-2 nav" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="navbar-brand active" href="#">Admin Panel</a>
            </li>
            <li class="nav-item position-relative">
                <a href="" class="nav-link text-dark">
                    <i class="fad fa-chart-bar"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item dropdown nav-item-users">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-users"></i>
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" href="/admin/user" class="d-flex align-items-center">
                        <i class="fad fa-list-ul mr-2"></i>
                        Users List
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/user/create">
                        <i class="fas fa-plus mr-2"></i>
                        Create User
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown nav-item-tags">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-tags"></i>
                    Tags
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" href="/admin/tag/" class="d-flex align-items-center">
                        <i class="fad fa-list-ul mr-2"></i>
                        Tags List
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/tag/create">
                        <i class="fas fa-plus mr-2"></i>
                        Create Tag
                    </a>
                </div>
            </li>
            <li class="nav-item position-relative nav-item-comments">
                <a href="/admin/comment" class="nav-link">
                    <i class="fad fa-comments"></i>
                    Comments
                </a>
            </li>
            <li class="nav-item dropdown nav-item-posts">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-sticky-note"></i>
                    Posts
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" href="/admin/post/" class="d-flex align-items-center">
                        <i class="fad fa-list-ul mr-2"></i>
                        Posts List
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/post/create">
                        <i class="fas fa-plus mr-2"></i>
                        Create Post
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown nav-item-packages">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-suitcase"></i>
                    Packages
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" href="/admin/package/" class="d-flex align-items-center">
                        <i class="fad fa-list-ul mr-2"></i>
                        Packages List
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/package/create">
                        <i class="fas fa-plus mr-2"></i>
                        Create Package
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown nav-item-categories">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fad fa-cubes"></i>
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" href="/admin/category/" class="d-flex align-items-center">
                        <i class="fad fa-list-ul mr-2"></i>
                        Categories List
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/category/create">
                        <i class="fas fa-plus mr-2"></i>
                        Create Category
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>