<% for(let indexPar = 0; indexPar < parents.length; indexPar++) { %>
    <% parent = parents[indexPar]; %>
    <% if(parent.CategoryId == parId) { %>
        <option value="<%= parent.id %>"><%= beforeStr %>-- <%= parent.name %></option>
        <%
        let isLast = true;
        for(let tmpIndex = indexPar + 1; tmpIndex < parents.length; tmpIndex++) {
            if(parents[tmpIndex].CategoryId == parId) {
                isLast = false;
            }
        }
        let nth = 0;
        if (isLast) {
            beforeStr = beforeStr.replace(/\|/g, function(match, i, original) {
                return (nth++ === level) ? " " : match;
            });
        }
        %>
        <%- include('tree_options_create', {parId: parent.id, beforeStr: beforeStr + "      |", level: level + 1}) %>
    <% } %>
<% } %>
