<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/common/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin/main.css">
</head>
<body>
    <%- include('../common/nav') %>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <i class="align-middle fal fa-bars font-weight-bold"></i>
                <h6 class="d-inline font-weight-light ml-2 align-middle font-weight-bold">Title Example</h4>
            </div>
            <div class="card-body">
                Content Here
            </div>
        </div>
    </div>
    <script src="js/common/jquery-3.5.1.min.js"></script>
    <script src="js/common/bootstrap.min.js"></script>
    <script src="js/admin/main.js"></script>
</body>
</html>