<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="admin_nav">
    <div class="container">
        <ul class="p-2 nav" role="tablist">
            <li class="nav-item position-relative">
                <a href="/" class="nav-link text-dark">
                    <i class="fad fa-home"></i>
                    Home
                </a>
            </li>
            <!-- TODO : Check if user is admin -->
            <li class="nav-item position-relative">
                <a href="/" class="nav-link text-info">
                    <i class="fad fa-cogs"></i>
                    Admin Panel
                </a>
            </li>
        </ul>
    </div>
</nav>